*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
.container{
    background-color: white;
    width: 95%;
    margin: auto;
    padding: 10px;
}
.hide{
    display: none;
}
.show{
    display: block;
}